body {
    text-align: center;
    margin: 0px;
    padding: 0px;
    /*FUENTES*/
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
}

#header {
    height: 150px;
    width: 100%;
    background: rgb(255, 255, 255);
    border-bottom: 5px solid rgb(119, 50, 50);
    border-top: 10px solid rgb(63, 11, 11);
}

#logo {
    width: 30%;
    font-size: 30px;
    float: left;
    color: rgb(83, 22, 22);
    margin-top: 35px;
}

#logo img {
    display: block;
    float: left;
    height: 130px;
    width: 150px;
    margin-top: -20px;
    margin-right: 10px;
    /* animation: girar infinite 30s linear;*/
}


/*
@keyframes girar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
*/

#brand {
    display: block;
    margin: 0px;
    float: left;
    margin-top: 35px;
}

.center {
    width: 75%;
    margin: 0px auto;
}

#menu {
    width: 70%;
    float: right;
    font-size: 15px;
}

#menu ul {
    line-height: 85px;
    width: 60%;
    float: right;
}

#menu ul li {
    display: inline-block;
    list-style: none;
    height: 46;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}

#menu a {
    text-decoration: none;
    color: #444444;
    transition: 300ms all;
}

#menu a:hover {
    color: #30b9f0;
}

.clearFix {
    clear: both;
    float: none;
}

#slider {
    width: 100%;
    height: 350px;
    /*line-height: 320px;*/
    color: white;
    text-shadow: 0px 0px 5px #444444;
    /*Degradado*/
    background: rgb(157, 37, 37);
    background: linear-gradient(0deg, rgba(157, 37, 37, 1) 40%, rgba(186, 84, 84, 1) 100%);
}

#slider h1 {
    margin-top: 0px;
    padding: 0px;
    padding-top: 130px;
    text-align: center;
}

.btnWhite {
    display: block;
    color: rgb(119, 56, 56);
    background-color: white;
    padding: 10px;
    width: 110px;
    height: 30px;
    margin: 0px auto;
    font-size: 18px;
    text-transform: uppercase;
    text-shadow: none;
    text-decoration: none;
    line-height: 30px;
    box-shadow: 0px 0px 5px #554e4e;
    margin-top: 40px;
    border-radius: 10px;
    transition: 300ms all;
}

.btnWhite:hover {
    background: #444444;
    color: withe;
}

#slider.slider-small {
    height: 150px;
}

#slider.slider-small h1 {
    margin-top: 0px;
    padding: 0px;
    padding-top: 50px;
}

#content {
    width: 70%;
    float: left;
    min-height: 650px;
    margin-right: 25px;
    ;
}

#asidebar {
    width: 25%;
    float: left;
}

.sidebar-item {
    background: salmon;
    padding: 20px;
    margin-top: 15px;
}

.sidebar-item .btn {
    margin: 0px auto;
    margin-top: 10px;
}

.sidebar-item h3 {
    text-transform: uppercase;
    font-size: 20px;
    margin: 0px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 3px solid #444444;
}

.btn {
    display: block;
    background: black;
    color: white;
    padding: 15px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    max-width: 150px;
    border: none;
    cursor: pointer;
    transition: 300ms all;
}

.btn-success {
    background: green;
}

.btn:hover {
    background: #444444;
    color: withe;
}

input[type="text"],
textarea {
    width: 100%;
    min-height: 30px;
    border: 1px solid #554e4e;
    margin-bottom: 5px;
    padding: 3px;
    transition: 300ms all;
}

input[type="text"]:focus,
textarea:focus {
    box-shadow: 0px 0px 5px #444444 inset;
}

textarea {
    width: 100%;
    height: 150px;
    min-width: 100%;
    max-width: 100%;
    max-height: 300px;
    min-height: 150px;
}

.mid-form {
    width: 60%;
    margin: 0px auto;
}

.mid-form label {
    display: block;
    float: left;
    text-align: left;
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 17px;
}

.radiobuttons {
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
}

#footer {
    background: #f7f7f7;
    width: 100%;
    height: 70px;
    line-height: 70px;
    color: #444444;
}

#footer p {
    margin: 0px;
    padding: 0px;
}

.article-item {
    width: 100%;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: left;
}

.article-item .image-wrap {
    width: 200px;
    height: 200px;
    overflow: hidden;
    float: left;
    margin-right: 15px;
    border: 1px solid #ccc;
}

.article-item .image-wrap img {
    height: 100%;
    text-align: center;
}

.article-item h2 {
    display: block;
    width: 100%;
    padding: 0px;
    margin: 0px;
    margin-bottom: 7px;
}

.article-item .date {
    display: block;
    width: 100%;
    color: #8d8686;
}

.article-item a {
    display: block;
    color: #444444;
    text-decoration: none;
    margin-top: 10px;
}

.article-item a:hover {
    text-decoration: underline;
}

.subHeader {
    font-size: 38px;
    border-bottom: 1px solid #eee;
    padding: 5px;
}

.article-detail .image-wrap {
    float: none;
    width: 100%;
    height: 500px;
}

.article-detail .image-wrap img {
    padding-left: 40px;
}

.article-detail .subHeader {
    margin-top: 15px;
    margin-bottom: 0px;
    border: none;
}